In [2]:
#Problem Statement 1 # You survey households in your area to find the average rent they are paying. Find the standard deviation from the following data: $1550, $1700, $900, $850, $1000, $950.

import pandas as pd

# Area Rent data from the given list
areaRent = [1550,1700,900,850,1000,950]
# Let the data frame be df
df = pd.DataFrame(areaRent)
display(df)

      0
0  1550
1  1700
2   900
3   850
4  1000
5   950

In [3]:
display(df.describe())

                 0
count     6.000000
mean   1158.333333
std     367.990036
min     850.000000
25%     912.500000
50%     975.000000
75%    1412.500000
max    1700.000000

In [4]:
display(df.std())

0    367.990036
dtype: float64

In [5]:
#Problem Statement 2 # Find the variance for the following set of data representing trees in California (heights in feet): 3, 21, 98, 203, 17, 9

height = [3,21,98,203,17,9]

df = pd.DataFrame(height)

df.var()

0    6219.9
dtype: float64

In [6]:
#Problem Statement 3 # In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7 failed in two subjects and 3 failed in three subjects. Find the probability distribution of the variable for number of subjects a student from the given class has failed in. 

#Percentage and Probablity of the data Total Students = 100 => 100% Passed = 80 => 80% =>80/100 => 80% 0.8 Probability 1 Subject Failed = 10 => 10% 0.1 Probability 2 Subjects Failed = 7 => 7% 0.07 Probability 3 Subjects Failed = 3 => 3% 0.03 Probability

import numpy as np
import scipy.stats as stats
list=[0.1,0.03,0.7,0.8]
df = pd.DataFrame(list)
display(df.describe())

              0
count  4.000000
mean   0.407500
std    0.398612
min    0.030000
25%    0.082500
50%    0.400000
75%    0.725000
max    0.800000

In [7]:
# mean
mu = 0.407500
# standard deviation
sigma = 0.398612
# For accurate values * 100
# 40.75 & 39.8612

In [8]:
# Cummilative Denisty Function
stats.norm(40.75,39.8612).cdf(80)

0.8376061156355561

In [9]:
# Probability Denisity Function
stats.norm(40.75,39.8612).pdf(80)

0.006163402498434112